/* Imported Roboto from Google Fonts */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* These fonts are style fonts */

* {
  padding: 0px;
  margin: 0;
}

body {
  font-family: "Roboto" ,Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-start;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 800;
  border-radius: 5px;
  border: #3882f6;
  padding: 5px 20px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

li {
  font-size: 18px;
}

img {
  max-width: 100%;
}

.header, .nav-links, .media{
  background-color: #1f2937;
  display: flex;
}

.header, .nav-links {
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 25px 150px;
}

.nav-links{
  gap: 30px;

}

.title {
   font-size: 24px;
   color: #f9faf8;
   font-weight: bold;
}

.media {
  padding: 100px 0px;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  display: flex;
  width: 400px;
  align-items: center;
}

.image img {
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb
}

.heading2 {
  text-align: center;
  padding: 40px 0px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.top-sellers {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: row wrap;
}

.top-sellers img {
  width: 180px;
  border-radius: 10px;
}

.top-selling-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px #3882f6 solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 80px;
}

.top-sell-info {
  color: #485362;
  text-align: center;
  padding-top: 10px;
}

button.buy-now {
  margin-left: auto;
  margin-right: auto;
}

.quotations {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 100px;
  gap: 30px;
  flex-wrap: wrap;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
  padding: 10px;
  max-width: 800px;;
  width: auto;
  flex-flow: column wrap;
}

.speaker {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 400;
  color: black;
  padding: 10px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-container {
  width: 900px;
  display: flex;
  background-color: #3882f6;
  justify-content: space-around;
  color: #e5e7eb;
  padding: 30px 30px;
  margin: 100px;
  border-radius: 8px;
  flex-flow: row wrap;
}

.heading3 {
  font-size: 18px;
  font-weight: 500;
}

.caption3 {
  font-weight: 300;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}

.signature {
  padding: 40px;
}